
.App {
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  grid-gap: 20px;
  
}
.search_tab{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.search_tab>h2{
  margin-right: 20px;
  font-weight: 600;
}
input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  box-shadow: inherit;
 border-radius: 10px;
  border: 1px solid grey;
  
}