img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    
    
    }
    .card_item{
        width: 100%;
     
    }
    .card_info{
        display: flex;
        justify-content: space-between;
        padding: 10px;
       
    }
    .card_info2{
        display: flex;
        align-items: center;   
    }
    
    .card_info1>h3{
        font-size: 20px;
        font-weight: 600;
    }
    .card_info2>.MuiSvgIcon-root{
       margin-right: 10px;
    }
    .card_info2>.MuiSvgIcon-root:hover{
        color: grey;
     }
    .card{
        max-width: 340px;
        box-shadow: 1px 1px 4px 0px rgba(60, 58, 58, 0.75);
        border-radius: 10px;
        margin: 0 10px;
    }